*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:mediumpurple ;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31 ;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}
#userscore,#compscore{
    font-size: 4rem;
}
.msg-containner{
    margin-top: 1.5rem;
}
#msg{
   
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 0.6rem;
    border-radius: 1rem;
}